# Outgoing email settings

production_gmail:
  delivery_method: :smtp
  smtp_settings:
    address: "smtp.gmail.com"
    port: "25"
    domain: "yourdomain.com"
    authentication: :login
    user_name: "user@email.com"
    password: "password"
    tls: true

production:
  delivery_method: :smtp
  smtp_settings:
    address: smtp.example.net
    port: 25
    domain: example.net
    authentication: :login
    user_name: redmine@example.net
    password: redmine
  
development:
  delivery_method: :smtp
  smtp_settings:
    address: 127.0.0.1
    port: 25
    domain: example.net
    authentication: :login
    user_name: redmine@example.net
    password: redmine
